/* screen - index */

.index {
    align-items: center;
    background-color: var(--orange-white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 2356px;
    overflow: hidden;
    width: 1440px;
  }
  
  .index .overlap-group2 {
    height: 590px;
    margin-right: 1.0px;
    position: relative;
    width: 1439px;
  }
  
  .index .image-1 {
    height: 479px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1439px;
  }
  
  .index .accueil {
    left: 914px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
  }
  
  .index .destinations {
    left: 1162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
  }
  
  .index .a-propos {
    left: 1033px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
  }
  
  .index .place {
    left: 1312px;
    position: absolute;
    top: 23px;
  }
  
  .index .nous-vous-offrons-la {
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 392px;
    width: 553px;
  }
  
  .index .title {
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 106px;
    width: 757px;
  }
  
  .index .overlap-group {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px;
    display: flex;
    height: 116px;
    justify-content: flex-end;
    left: 375px;
    min-width: 690px;
    padding: 0 14px;
    position: absolute;
    top: 474px;
  }
  
  .index .destination {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 14.0px;
    min-height: 24px;
    min-width: 113px;
    white-space: nowrap;
  }
  
  .index .place-1 {
    margin-bottom: 14.0px;
    margin-left: 119px;
    min-height: 24px;
    min-width: 46px;
    white-space: nowrap;
  }
  
  .index .voyageurs {
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 14.0px;
    margin-left: 119px;
    min-height: 24px;
    min-width: 103px;
    white-space: nowrap;
  }
  
  .index .rectangle-2 {
    background-color: var(--keppel);
    border-radius: 10px;
    height: 88px;
    margin-left: 64px;
    width: 90px;
  }
  
  .index .vector {
    height: 8px;
    left: 519px;
    position: absolute;
    top: 524px;
    width: 16px;
  }
  
  .index .vector-1 {
    height: 8px;
    left: 686px;
    position: absolute;
    top: 525px;
    width: 16px;
  }
  
  .index .vector-2 {
    height: 8px;
    left: 906px;
    position: absolute;
    top: 524px;
    width: 16px;
  }
  
  .index .icon-search {
    height: 31px;
    left: 990px;
    position: absolute;
    top: 385px;
    width: 41px;
  }
  
  .index .group-18 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    left: 51px;
    min-height: 26px;
    position: absolute;
    top: 27px;
    width: 92px;
  }
  
  .index .vector-3 {
    height: 14px;
    width: 70px;
  }
  
  .index .mm_fly {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 2px;
    min-height: 7px;
    white-space: nowrap;
    width: 80px;
  }
  
  .index .icon-search-1 {
    height: 41px;
    left: 991px;
    position: absolute;
    top: 516px;
    width: 41px;
  }
  
  .index .meilleurs-hotels {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 1.0px;
    margin-top: 182px;
    min-height: 24px;
    min-width: 159px;
    white-space: nowrap;
  }
  
  .index .overlap-group-container {
    height: 490px;
    margin-right: 83.0px;
    margin-top: 41px;
    position: relative;
    width: 1269px;
  }
  
  .index .overlap-group6 {
    height: 484px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1071px;
  }
  
  .index .group-container {
    height: 483px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 362px;
  }
  
  .index .group-8 {
    height: 157px;
    left: 0;
    position: absolute;
    top: 0;
    width: 157px;
  }
  
  .index .flex-col-2 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    left: 78px;
    min-height: 399px;
    position: absolute;
    top: 84px;
    width: 284px;
  }
  
  .index .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 324px;
    width: 284px;
  }
  
  .index .rectangle-4 {
    height: 284px;
    object-fit: cover;
    width: 284px;
  }
  
  .index .surname {
    margin-left: 15px;
    min-height: 28px;
    text-decoration: underline;
  }
  
  .index .flex-row {
    align-items: center;
    display: flex;
    height: 17px;
    margin-right: 6.63px;
    min-width: 265px;
  }
  
  .index .icon-star {
    height: 14px;
    margin-bottom: 1.43px;
    width: 14px;
  }
  
  .index .icon-star-1 {
    height: 14px;
    margin-bottom: 1.43px;
    margin-left: 14px;
    width: 14px;
  }
  
  .index .address {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 22px;
    min-height: 17px;
    min-width: 116px;
  }
  
  .index .explorer-nos-meilleu {
    left: 281px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .index .flex-col-3 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    left: 682px;
    min-height: 399px;
    position: absolute;
    top: 90px;
    width: 284px;
  }
  
  .index .flex-col-1 {
    align-items: center;
    gap: 12px;
    min-height: 324px;
    width: 284px;
  }
  
  .index .resort-jumeirah-beach-hotel {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 2.0px;
    min-height: 28px;
    min-width: 256px;
    text-decoration: underline;
  }
  
  .index .flex-col-4 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    left: 381px;
    min-height: 399px;
    position: absolute;
    top: 86px;
    width: 284px;
  }
  
  .index .rsidence-lausanne {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 15px;
    min-height: 28px;
    text-decoration: underline;
  }
  
  .index .flex-col-5 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    left: 985px;
    min-height: 399px;
    position: absolute;
    top: 91px;
    width: 284px;
  }
  
  .index .htel-chitwa-chitwa-lodge {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 9.0px;
    min-height: 28px;
    min-width: 245px;
    text-decoration: underline;
  }
  
  .index .overlap-group-container-1 {
    align-items: flex-start;
    display: flex;
    height: 478px;
    margin-left: 82.0px;
    margin-top: 10px;
    min-width: 1272px;
  }
  
  .index .flex-col-6 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    min-height: 399px;
    width: 284px;
  }
  
  .index .le-palladio-hotel {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 15px;
    min-height: 28px;
    text-decoration: underline;
  }
  
  .index .flex-col-7 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    margin-left: 19px;
    margin-top: 1px;
    min-height: 399px;
    width: 284px;
  }
  
  .index .zhuhai-palm-spring-hotel {
    letter-spacing: 0;
    line-height: normal;
    margin-right: 21.0px;
    min-height: 28px;
    min-width: 233px;
    text-decoration: underline;
  }
  
  .index .flex-col-8 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    margin-left: 17px;
    margin-top: 5px;
    min-height: 399px;
    width: 284px;
  }
  
  .index .surname-1 {
    margin-left: 15px;
    min-height: 28px;
    text-decoration: underline;
  }
  
  .index .group-container-1 {
    align-self: flex-end;
    height: 472px;
    margin-left: 19px;
    position: relative;
    width: 365px;
  }
  
  .index .group-7 {
    height: 157px;
    left: 208px;
    position: absolute;
    top: 315px;
    width: 157px;
  }
  
  .index .flex-col-9 {
    align-items: center;
    background-color: var(--cultured-pearl);
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
    left: 0;
    min-height: 399px;
    position: absolute;
    top: 0;
    width: 284px;
  }
  
  .index .dead-sea-hotel {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 15px;
    min-height: 28px;
    text-decoration: underline;
  }
  
  .index .group-24 {
    align-items: flex-start;
    display: flex;
    height: 419px;
    margin-right: 2.0px;
    margin-top: 122px;
    min-width: 1460px;
  }
  
  .index .overlap-group1 {
    align-items: center;
    background-color: var(--peach-cream);
    display: flex;
    flex-direction: column;
    min-height: 419px;
    padding: 21px 43px;
    width: 1440px;
  }
  
  .index .vector-4 {
    align-self: flex-end;
    cursor: pointer;
    height: 11px;
    width: 20px;
  }
  
  .index .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 237px;
    margin-left: 45.0px;
    margin-top: 19px;
    min-width: 1019px;
  }
  
  .index .group-13 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 199px;
    width: 115px;
  }
  
  .index .naviguer {
    letter-spacing: 0;
    line-height: normal;
    min-height: 23px;
    white-space: nowrap;
  }
  
  .index .surname-2 {
    margin-top: 36px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .carrires {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .place-2 {
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .affilis {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .group-14 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 132px;
    min-height: 237px;
    width: 153px;
  }
  
  .index .ressources {
    letter-spacing: 0;
    line-height: normal;
    min-height: 23px;
    white-space: nowrap;
  }
  
  .index .blog {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 33px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .tion {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1px;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .communaut {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .tarification {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .flex-col-10 {
    align-items: flex-start;
    margin-left: 136px;
    min-height: 237px;
    width: 128px;
  }
  
  .index .entreprise {
    letter-spacing: 0;
    line-height: normal;
    min-height: 23px;
    white-space: nowrap;
  }
  
  .index .prsentation-de-service {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 30px;
    min-height: 34px;
  }
  
  .index .a-propos-de-nous {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 10px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .clients-satisfaits {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .portefeuille {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .centre-daide {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 24px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .flex-col-11 {
    align-items: flex-start;
    gap: 22px;
    margin-left: 134px;
    min-height: 152px;
    width: 221px;
  }
  
  .index .aider {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    min-height: 23px;
    white-space: nowrap;
  }
  
  .index .flex-row-2 {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 107px;
    min-width: 221px;
  }
  
  .index .flex-col-12 {
    align-items: flex-start;
    margin-top: 0.24px;
    min-height: 103px;
    width: 18px;
  }
  
  .index .vector-5 {
    height: 11px;
    margin-left: 3.0px;
    width: 15px;
  }
  
  .index .vector-6 {
    height: 11px;
    margin-left: 3.0px;
    margin-top: 37px;
    width: 15px;
  }
  
  .index .location-dot-solid-1-1 {
    height: 15px;
    margin-top: 29px;
    width: 15px;
  }
  
  .index .flex-col-13 {
    align-items: flex-start;
    min-height: 107px;
    width: 195px;
  }
  
  .index .phone {
    letter-spacing: 0;
    line-height: normal;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .mmbengue006gmailcom {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 30px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .pikine-guinaw-rails {
    letter-spacing: 0;
    line-height: normal;
    margin-top: 26px;
    min-height: 17px;
    white-space: nowrap;
  }
  
  .index .group-15 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-left: 58.0px;
    margin-top: 78px;
    min-height: 21px;
    width: 450px;
  }
  
  .index .vector-7 {
    height: 1px;
    margin-left: 12px;
    width: 9px;
  }
  
  .index .copyright-startravel {
    letter-spacing: 0;
    line-height: normal;
    min-height: 1px;
    white-space: nowrap;
  }
  
  .index .flex-col-14 {
    display: flex;
    flex-direction: column;
  }
  
  .index .place-3 {
    letter-spacing: 0;
    line-height: normal;
  }
  
  .index .surname-3 {
    letter-spacing: 0;
    line-height: normal;
  }
  