
  :root { 
    --black: #000000;
    --cultured-pearl: #f5f5f5;
    --smashed-pumpkin: #ec6c3d;
    --white: #ffffff;
   
    --font-size-l: 20px;
    --font-size-m: 15px;
    --font-size-s: 14px;
    --font-size-xl: 24px;
    --font-size-xs: 13px;
    --font-size-xxl: 40px;
    --font-size-xxxl: 64px;
   
    --font-family-arial-bold: "Arial-Bold", Helvetica;
    --font-family-inter: "Inter", Helvetica;
    --font-family-sedan-regular: "Sedan-Regular", Helvetica;
  }
  .arial-bold-black-15px {
    color: var(--black);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .sedan-regular-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-sedan-regular);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-normal-smashed-pumpkin-14px {
    color: var(--smashed-pumpkin);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .arial-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-black-14px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
  }
  
  .sedan-regular-normal-black-40px {
    color: var(--black);
    font-family: var(--font-family-sedan-regular);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
  }  
  /*version-mobile*/
  :root { 
    --alto: #d9d9d9;
    --black: #000000;
    --black-5: #00000080;
    --cultured-pearl: #f5f5f5;
    --keppel: #3caba3;
    --keppel-2: #44aaa4;
    --orange: #fe6324;
    --orange-white: #fef8ed;
    --peach-cream: #fff2da;
    --raw-sienna: #da774a;
    --romance: #fffcfc;
    --smashed-pumpkin: #ec6c3d;
    --tradewind: #4eafa9;
    --white: #ffffff;
   
    --font-size-l: 10px;
    --font-size-m: 8px;
    --font-size-m2: 24px;
    --font-size-xl: 12px;
    --font-size-xs2: 15px;
    --font-size-xxl2: 32px;
    --font-size-xxs2: 14px;
   
    --font-family-arial-bold: "Arial-Bold", Helvetica;
    --font-family-inter: "Inter", Helvetica;
    --font-family-sedan-regular: "Sedan-Regular", Helvetica;
  }
  .arial-bold-black-8px {
    color: var(--black);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .inter-bold-black-10px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .sedan-regular-normal-black-12px {
    color: var(--black);
    font-family: var(--font-family-sedan-regular);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-normal-smashed-pumpkin-10px {
    color: var(--smashed-pumpkin);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
  
  .arial-bold-black-10px {
    color: var(--black);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .sedan-regular-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-sedan-regular);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 400;
  }
  
  .sedan-regular-normal-black-10px {
    color: var(--black);
    font-family: var(--font-family-sedan-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
  
  .inter-bold-raw-sienna-12px {
    color: var(--raw-sienna);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
  
  .sedan-regular-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-sedan-regular);
    font-size: var(--font-size-xxs2);
    font-style: normal;
    font-weight: 400;
  }
  